.body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tag{
        margin-top: 150px;
        margin-left: 200px;

        h1{
            font-size: 45px;
            font-weight: 800;
            color: rgb(64, 25, 109);
        }

        p{
            font-size: 21px;
            font-weight: 400;
            margin-bottom: -5px;
        }
    }

    .navs{

        img{
           width: 150px; 
           display: inline-block;
           white-space: nowrap;
           margin-top: -10px;
           
        }

        .first{
            margin-bottom: 60px;
            margin-left: -10px;
            
        }

        .second{
            margin-bottom: 16px;
            
        }
    }

    .logs{
        p{
            color: rgb(177, 177, 177);
            display: inline-block;
            font-weight: 400;
            font-size: small;
            margin-top: -50px;
            position: relative;
            bottom: 90px;
            /* line-height: 2.0;
            align-items: center; */
        }

        .third{
            width: 35px;
            position: relative;
            bottom: 80px;
        }

        .fourth{
            width: 70px;
            position: relative;
            bottom: 58px;
        }
    }

    .roll{
        margin-right: 200px;
        margin-top: 100px;

        img{
            width: 600px;
        }
    }
}